NEXT_PUBLIC_SUPABASE_URL=https://hboguukdstktlwgnsypc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_lqnfq1a7uDCflZIg7PjbVA_jta7MKGN
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://your-domain.example
NEXT_PUBLIC_PRIVACY_EMAIL=
